{% extends 'layout.html' %}
{% block body %}
<div class="card">
    <table id="actors_table">
{#        <button type="button" class="icon-button"><i class="fa fa-edit fa-fw"></i></button>#}
        <thead>
        <tr>
            <th>Name</th>
            <th>Birthday</th>
            <th>death</th>
            <th>biography</th>
        </tr>
        </thead>
        <tbody id="actors_table_body">

        {% for actor in actors %}
            <tr>
                {% for key, value in actor.items() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{# modal window #}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Movies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <table class="modal_table" id="modal_table">
            <thead>
                <tr>
                    <th>title</th>
                    <th>year</th>
                    <th>overview</th>
                    <th>runtime</th>
                    <th>trailer</th>
                    <th>homepage</th>
                    <th>rating</th>
                </tr>
            </thead>
            <tbody class="modal-body">
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>